{% extends "app/layout.html" %}
{% block content %}
{% if not data %}
<h2>Отправьте, пожалуйста, заполненный отзыв</h2>

<div>
    <form method="post">
        {% csrf_token %}
        <label for="{{form.name.id_for_label}}">{{form.name.label}}:</label>
        {{form.name}}

        <p></p>
        <label for="{{form.gender.id_for_label}}">{{form.gender.label}}:</label>
        {{form.gender}}
        <p></p>
        <label for="{{form.howmuch.id_for_label}}">{{form.howmuch.label}}:</label>
        {{form.howmuch}}
        <p></p>
        <label for="{{form.rating.id_for_label}}">{{form.rating.label}}:</label>
        {{form.rating}}
        <p></p>
        <label for="{{form.email.id_for_label}}">{{form.email.label}}:</label>
        {{form.email}}
        <p></p>

        <label for="{{form.noticw.id_for_label}}">{{form.notice.label}}:</label>
        {{form.notice}}
        <p></p>

        <label for="{{form.message.id_for_label}}">{{form.message.label}}:</label>
        {{form.message}}

        <p></p>
        <input type="submit" value="Отправить">
    </form>
</div>
{% endif %}
{% if data %}

<h2>Благодарим за отзыв!</h2>
<h3>Ваш отзыв:</h3>
<ul>
    <li><span>Имя: </span>{{data.name}}</li>
    <li><span>Пол: </span>{{data.gender}}</li>
    <li><span>Вы были у нас: </span>{{data.howmuch}}</li>
    <li><span>Ваша оценка: </span>{{data.rating}}</li>
    <li><span>Ваш e-mail: </span>{{data.email}}</li>
    <li><span>Получать новости сайта на e-mail: </span>{{data.notice}}</li>
    <li><span>Ваш отзыв: </span>{{data.message}}</li>
</ul>
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.querySelector('form');
        var submitButton = form.querySelector('input[type="submit"]');
        var inputFields = form.querySelectorAll('input, textarea');

        submitButton.addEventListener('mouseover', function () {
            this.style.color = 'red';
        });

        submitButton.addEventListener('mouseout', function () {
            this.style.color = 'black';
        });

        inputFields.forEach(function (field) {
            field.addEventListener('focus', function () {
                this.style.backgroundColor = '#ffefe3';
            });

            field.addEventListener('blur', function () {
                this.style.backgroundColor = 'white';
            });
        });
    });
</script>
{% endblock %}